.gallery-section {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 1rem 2rem 3rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.gallery-item {
  flex: 1 1 220px;
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s;
}

.gallery-item:hover {
  transform: scale(1.03);
}


/* Responsive a Tablet */
@media(min-width:375px) {
  .gallery-item {
    height: 220px;
  }

}