
.hero {
    width: 100%;
    min-height: 80vh;
    /* background-image:url(../../assets/img/hero-dental-mobile-750x1000.avif); */
    background-image: linear-gradient(90deg,
            rgba(248, 250, 252, 0.96) 0%,
            rgba(248, 250, 252, 0.88) 28%,
            rgba(248, 250, 252, 0.45) 48%,
            rgba(248, 250, 252, 0) 65%), url(../../assets/img/hero/hero-dental-mobile-750x1000.avif);

    background-size: cover;
    background-position: top;
    color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 1rem;
    gap: 1rem;
}


.hero-article {
    line-height: 2.5;
    padding: 1rem 0;
}

.hero-botonera{
    display:flex;
    gap:0.8rem;
}

/* Responsive Tablet */
@media(min-width:375px) {

    .hero {

        background-image: linear-gradient(90deg,
                rgba(248, 250, 252, 0.96) 0%,
                rgba(248, 250, 252, 0.88) 28%,
                rgba(248, 250, 252, 0.45) 48%,
                rgba(248, 250, 252, 0) 65%), url(../../assets/img/hero/hero-dental-tablet-1200x900.avif);

    }


}



/* Responsive Desktop */
@media(min-width:900px) {

    .hero {

        background-image: linear-gradient(90deg,
                rgba(248, 250, 252, 0.96) 0%,
                rgba(248, 250, 252, 0.88) 28%,
                rgba(248, 250, 252, 0.45) 48%,
                rgba(248, 250, 252, 0) 65%), url(../../assets/img/hero/hero-dental-desktop-1920x1080.avif);
    }

}