.sobremi-section {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  height: 100%;
  margin: 0 auto;
  gap: 1rem;
  padding: 1rem 2rem 2rem;
}

/* ##SECION PRINCIPAL## */
.sobremi-grid {
  /* background-color:darkorchid; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

/* #PORFOLIO# */
.sobremi-porfolio {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(1, 0, 0, 0.3);
}

.sobremi-porfolio-photo {
  width: 100%;
}

.sobremi-porfolio img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.sobremi-porfolio-description {
  /* background-color:darksalmon; */
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
  width: 100%;
  gap: 0.6rem;
}


/* #EXPERIENCIA# */
.sobremi-experience {
  background-color: var(--bg-main);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  gap: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 12px rgba(1, 0, 0, 0.3);
}



.etiqueta-item2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.3rem;

}

.card-description{
  display: flex;
  align-items:center;
}


/* Responsive tablet */
@media(min-width:630px) {

 .sobremi-experience {
    flex-direction: row;
  }

.etiqueta-item2{
  flex-direction: column;
}


}


/* Responsive PC */
@media(min-width:900px) {

  .sobremi-porfolio {
    flex-direction: row;
  }

  .sobremi-experience {
    flex-direction: row;
  }

}